body {
  font-family: arial, sans-serif;
}
h1 {
  color: #202124;
  display: block;

  font-size: 24px;
  font-weight: 100;
  height: 28px;
  line-height: 28px;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #8c9094;
  display: block;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1px;
  list-style: none;
}

.details {
  text-align: right;
}
.weather-app {
  border: 1px solid #c8c9cb;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 400px;
}
.temperature {
  color: rgb(41, 40, 39);

  font-family: arial, sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 2;
}
.weather-icon {
  height: 68px;
  width: 68px;
  margin-left: 10px;
}
.units {
  position: relative;
  top: -34px;
}
.search-form {
  margin-bottom: 15px;
}
.celsius {
  text-decoration: none;
}
.degree {
  text-decoration: none;
}
.name{
  display: block;
  text-align: center;
 margin-top: 2px;
}
.link {
text-decoration: none;
}